In [1]:
import numpy as np
import pandas as pd
import time
from ast import literal_eval as lit

In [5]:
def get_reports(df):
    
    import nltk
    import gensim
    
    places = list(set([item for item in df['Place_Of_Missing']]))
    print places
    
    return places

In [3]:
df = pd.read_csv('Victim_Info_Unique.csv')
df

,Unnamed: 0,Victim_ID,Unit_ID,FIR_ID,Arr_ID,Injury_type,Major_Cause,Minor_Cause,IsPoliceOnDuty,IsSuicide,Suicide_Profile,Suicide_Status,Suicidal_Education_Status,Suicide_Adopted_Means,Place_Of_Missing,IsBurried,UserID,Action_Flag,DEDT,place
0,0,2014000001,57,2014000001,2014000002,1,0,0,0,0,3,0,0,0,not available,0,5900027,N,1/1/2014 1:42,not available
1,3,2014000001,111,2014000002,2014000011,1,0,0,0,0,10,98,0,0,not available,0,11100001,N,1/9/2014 14:20,not available
2,6,2014000001,136,2014000003,2014000010,1,0,0,0,0,1,0,0,0,not available,0,156400041,N,1/1/2014 20:32,not available
3,48,2014000001,429,2014000004,2014000013,1,0,0,0,0,1,98,0,0,not available,0,151000053,N,1/4/2014 12:22,not available
4,75,2014000001,718,2014000006,2014000041,1,0,0,0,0,2,98,0,0,not available,0,16000011,N,1/28/2014 13:40,not available
5,110,2014000001,976,2014000005,2014000010,1,0,0,0,0,10,0,0,0,not available,0,98800017,N,1/4/2014 17:11,not available
6,112,2014000001,985,2014000008,2014000025,1,0,0,0,0,10,0,0,0,not available,0,98500020,N,1/6/2014 14:27,not available
7,113,2014000001,988,2014000007,2014000019,1,0,0,0,0,10,0,0,0,not available,0,36400026,N,1/11/2014 9:34,not available
8,114,2014000001,992,2014000012,2014000044,1,0,0,0,0,9,97,0,0,not available,0,98300001,N,1/23/2014 23:23,not available
9,313,2014000002,348,2014000013,2014000053,1,0,0,0,0,10,98,0,0,not available,0,33400016,N,3/16/2014 20:09,not available
10,319,2014000002,372,2014000058,2014000119,1,0,0,0,0,9,0,0,0,not available,0,117300026,N,3/2/2014 12:45,not available
11,396,2014000002,975,2014000019,2014000071,1,0,0,0,0,3,0,0,0,not available,0,95800028,N,1/7/2014 21:57,not available
12,456,2014000002,1463,2014000009,2014000024,1,0,0,0,0,7,0,0,0,not available,0,147200024,N,1/10/2014 7:03,not available
13,574,2014000003,112,2014000014,2014000065,1,0,0,0,0,10,0,0,0,not available,0,152200037,N,1/16/2014 11:56,not available
14,612,2014000003,372,2014000069,2014000147,3,0,0,0,0,10,98,0,0,not available,0,37200048,N,3/11/2014 0:36,not available
15,672,2014000003,924,2014000017,2014000022,0,0,0,0,0,10,0,0,0,not available,0,95000033,N,3/4/2014 12:50,not available
16,685,2014000003,975,2014000027,2014000097,1,0,0,0,0,3,0,0,0,not available,0,182300042,N,1/13/2014 19:20,not available
17,688,2014000003,985,2014000021,2014000064,1,0,0,0,0,10,0,0,0,not available,0,98500007,N,1/12/2014 14:05,not available
18,690,2014000003,993,2014000010,2014000037,1,8734,0,0,0,9,98,0,0,not available,0,96300028,N,1/22/2014 18:07,not available
19,756,2014000003,1474,2014000018,2014000041,1,0,0,0,0,5,98,104,0,not available,0,15600031,N,1/17/2014 8:49,not available
20,843,2014000003,1815,2014000011,2014000036,0,0,0,0,0,3,98,104,0,sakrebylu near,0,100200008,N,1/10/2014 0:59,sakrebylu near
21,915,2014000004,343,2014000015,2014000061,0,0,0,0,0,5,0,0,0,not available,0,33500038,N,1/15/2014 20:36,not available
22,1041,2014000004,1245,2014000016,2014000095,1,0,0,0,0,10,98,0,0,not available,0,42900007,N,1/30/2014 0:52,not available
23,1064,2014000004,1474,2014000106,2014000352,1,0,0,0,0,7,97,104,0,mamadapur,0,147400028,N,3/8/2014 12:39,mamadapur
24,1065,2014000004,1475,2014000045,2014000128,1,0,0,0,0,1,0,0,0,not available,0,38200036,N,3/25/2014 7:46,not available
25,1092,2014000004,1607,2014000025,2014000129,1,0,0,0,0,10,0,0,0,not available,0,158800027,N,2/18/2014 17:19,not available
26,1155,2014000004,1819,2014000022,2014000105,0,0,0,0,0,7,98,107,0,not available,0,56600214,N,2/3/2014 17:32,not available
27,1301,2014000005,967,2014000029,2014000064,3,0,0,0,0,10,0,0,0,not available,0,97200020,N,2/25/2014 17:56,not available
28,1315,2014000005,1024,2014000020,2014000087,0,0,0,0,0,3,98,0,0,not available,0,100000061,N,3/7/2014 16:09,not available
29,1373,2014000005,1475,2014000054,2014000162,1,0,0,0,0,1,0,0,0,not available,0,38200036,N,4/17/2014 16:12,not available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,311617,2019000016,319,2019000039,2019000112,1,134,135,0,0,9,98,0,0,not available,0,124000014,N,1/26/2019 15:40,not available
3998,311669,2019000016,1051,2019000060,2019000107,1,0,0,0,0,10,0,0,0,not available,0,167200002,N,1/19/2019 17:36,not available
3999,311677,2019000016,1123,2019000056,2019000154,1,0,0,0,0,9,98,0,0,not available,0,50,N,1/20/2019 21:30,not available
4000,311922,2019000018,319,2019000043,2019000127,2,0,0,0,0,1,0,0,0,not available,0,145700009,N,1/31/2019 20:26,not available
4001,311956,2019000018,953,2019000046,2019000084,1,0,0,0,0,10,98,0,0,not available,0,167400049,N,1/17/2019 11:16,not available
4002,312006,2019000018,1678,2019000032,2019000057,1,0,0,0,0,10,0,0,0,not available,0,95100025,N,1/22/2019 10:29,not available
4003,312083,2019000019,953,2019000061,2019000104,1,0,0,0,0,10,0,0,0,not available,0,91900278,N,1/18/2019 17:45,not available
4004,312094,2019000019,1123,2019000062,2019000166,1,0,0,0,0,9,97,0,0,not available,0,112300056,N,1/25/2019 18:43,not available
4005,312125,2019000019,1680,2019000051,2019000127,1,0,0,0,0,10,0,0,0,not available,0,153500045,N,1/20/2019 9:35,not available
4006,312191,2019000020,1051,2019000066,2019000116,1,0,0,0,0,4,0,0,0,not available,0,106900026,N,1/26/2019 18:27,not available
4007,312273,2019000021,699,2019000041,2019000108,1,0,0,0,0,10,0,0,0,not available,0,71800050,N,1/26/2019 10:35,not available
4008,312323,2019000021,1675,2019000040,2019000084,1,0,0,0,0,3,97,0,0,not available,0,94400024,N,1/17/2019 12:52,not available
4009,312383,2019000022,1051,2019000068,2019000120,1,0,0,0,0,10,0,0,0,not available,0,166200047,N,1/27/2019 13:51,not available
4010,312450,2019000023,811,2019000038,2019000103,1,0,0,0,0,10,0,0,0,not available,0,80600023,N,1/31/2019 9:43,not available
4011,312461,2019000023,953,2019000080,2019000129,1,0,0,0,0,7,0,109,0,not available,0,93800005,N,1/23/2019 12:01,not available
4012,312522,2019000024,699,2019000042,2019000112,2,0,0,0,0,10,0,0,0,not available,0,158900318,N,1/26/2019 14:51,not available
4013,312533,2019000024,953,2019000093,2019000141,1,0,0,0,0,10,0,0,0,not available,0,94400008,N,1/24/2019 21:13,not available
4014,312565,2019000024,1679,2019000064,2019000113,1,16,0,0,0,10,98,0,0,kudlgadde yellapur,0,166600001,N,1/19/2019 19:50,kudlgadde yellapur
4015,312617,2019000025,1051,2019000070,2019000150,1,0,0,0,0,12,0,0,0,not available,0,166200047,N,1/31/2019 23:38,not available
4016,312618,2019000025,1123,2019000069,2019000187,1,0,0,0,0,10,0,0,0,not available,0,112300025,N,1/29/2019 14:30,not available
4017,312640,2019000025,1674,2019000057,2019000121,1,0,0,0,0,10,98,106,0,not available,0,95300031,N,1/19/2019 14:47,not available
4018,312689,2019000026,953,2019000098,2019000155,1,0,0,0,0,10,0,0,0,not available,0,91900278,N,1/26/2019 13:50,not available
4019,312719,2019000026,1678,2019000037,2019000073,1,0,0,0,0,3,0,0,0,not available,0,166600044,N,1/27/2019 8:07,not available
4020,312945,2019000030,1815,2019000044,2019000144,1,0,0,0,0,10,0,0,0,not available,0,100200035,N,1/18/2019 17:45,not available
4021,313067,2019000033,1675,2019000059,2019000119,1,8734,0,0,0,3,98,0,0,not available,0,100474,N,1/23/2019 13:08,not available
4022,313127,2019000035,877,2019000048,2019000256,1,0,0,0,0,10,97,0,0,not available,0,86400006,N,1/28/2019 20:41,not available
4023,313131,2019000035,1069,2019000054,2019000128,1,0,0,0,0,3,0,0,0,not available,0,106300007,N,1/28/2019 17:38,not available
4024,313146,2019000035,1680,2019000107,2019000223,1,0,0,0,0,10,98,0,0,not available,0,168100008,N,1/27/2019 19:34,not available
4025,313237,2019000040,1680,2019000148,2019000276,1,0,0,0,0,10,97,0,0,not available,0,153500045,N,1/31/2019 21:46,not available
4026,313388,2019000051,1468,2019000058,2019000143,1,0,0,0,0,10,0,0,0,not available,0,32400031,N,1/31/2019 20:47,not available

In [6]:
places = get_reports(df)

['rahamath nagara', 'japthi hosahalli', 'mariyala gate', 'infront of balaji jewellers', 'sundahalli village, mandya taluk', 'almel sindagi road gundagi petrol bank near', 'kothathi village, mandya taluk', 'hole hanasavadi village', 'at the accident spot', 'not available', 'near siddappa nagar', 'near kalahastipura petrol bunk, kolar mulbagal rd', 'near kanive', 'vaddinakoppa village', 'near doddapyalagurki village', 'on nh 50 road after managuli 2-3 kms', 'near shanimahathma temple, sangam road, kurupete,', 'shettyhalliroad kolar taluk', 'beechagondahalli village', 'sidlaghatta town', 'nimahans hospital, bengaluru', 'near devishettihalli gate', 'near reddygollavarahalli village', "hanaval limit's", 'near reddygollavarahalli', 'near japthihosahalli', 'near thadur village gate', "kesaratti limit's", 'karasawadi village, mandya taluk', 'indi- hirerugi pwd road', 'near bellutti gate', 'near vaidyanathapura village', 'near chavadi garadi road,kanakapura town', 'premanagar', 'meluru', 'near marutla koracharahatti village', 'kebbepura village', 'narasapura bypass', 'hosahalli darha near', 'anuru', 'halebudanuru village, mandya taluk', 'kananakatte-devipura road', 'opposite old d.c offiice, nh-7 road.', 'near sahayadri college cross, kolar tekal road,', 'chitta road bidar', "sriramanagar limit's", 'hennaly cross', 'opp parle-g factory, nh-4', 'near jangamakote cross', 'victoriya hospetal', 'gangavathi - kanakagiri road heruru', 'near shanimahatma swamy temple, anekalbanerghatard', '2nd main 6th cross, chamarajpet', 'doddakallur village', 'meesaganahalli village, devanahalli taluk', 'venkatagiri limits', 'near veerendra patil layout (camaan) on sedam road', 'cheemanhalli', 'near bus depot bhalki', 'channagiri town', 'kudlgadde yellapur', 'near k.r. road', 'opposite veerashaiva kalyan mantap on road gulbarg', 'near swagath factory', 'kadamba dhaba opposite', 'mamballi', 'near handiganala', 'near old dc office, near chadalapura village', 'hoakote town', 'opp no 23/1 2 nd main road gandinagar', 'prakruti layout', 'totadakere village', 'near lakshmisagara', 'mayura circle', 'mamadapur', 'pichanakere', 'kowdle busstand', 'othigatta village near', 'natanahalli', 'gudlanarasimhanahalli', 'near kingdom house full gospel church', 'sakrebylu near', 'sajjan rao circle', 'binnimill road', 'near y.hunasenahalli gate', 'infront of crs crane office, nh-7 road, chandapura', 'near amachavadi village', 'near reddygollavarahalli gate', 'near bus stand', 'n h 13 road', 'near kachahalli gate', 'near sps factory', 'jangamara kalgudi', 'near mallahalli', 'near j.venkatapura', 'halebudanur, mandya taluk & dist', 'lakshmipura village', 'vivekanandanagara 2 nd cross, ramanagara road', 'near kumbarahalli, kolar mulabagal nh-75 road,', 'near pindipanahalli', 'guruvayanakere', 'lakkahalli gate', 'near sai pawan hotel toranagallu village', 'karpoor gate', 'haydrabad usmaniya haspital', 'vims bellary', 'mysore road flyover', 'halekote village near', 'kanakapura - sangamma road, hulebele near', 'near meluru', 'near kendatti village gate, kolar taluk', 'genaral hospital kollegala', 'near j.venktapura', 'santhosha nagara']

In [7]:
len(places)

114

In [41]:
def search_data(arr):
    
    try :
        from googlesearch import search
        res = ['No','Yes']
        cause = ['wet road','under construction','jay walking','driver fault']
        injury = ['minor','major','immediate attention']
        for i in range(1):
            print arr[i]
            query = arr[i]+"road conditions google maps"
            weather = arr[i]+"current weather accuweather"
            traffic = arr[i]+"current traffic map"
            intensity = "Common Injury Type : {}\nMajor Cause: {}\nPolice On Duty: {}".format(injury[df['Injury_type'][i]%3], cause[df['Major_Cause'][i]], res[df['IsPoliceOnDuty'][i]])
            for j in search(query, tld="com", num=1, stop=1, pause=5):
                print "Road conditions : ",j
                print intensity
            for k in search(weather, tld="com", num=1, stop=1, pause=5):
                print "Weather conditions : ",k
            for l in search(traffic, tld="com", num=1, stop=1, pause=5):
                print "Traffic conditions : ",l
            print "\n"
    except Exception as e:
        print(e)
        pass

In [42]:
search_data(places)

near kumbarahalli, kolar mulabagal nh-75 road,
Road conditions :  https://www.team-bhp.com/forum/route-travel-queries/160402-bangalore-kolar-chintamani-chikkaballapur-route-queries.html
Common Injury Type : major
Major Cause: wet road
Police On Duty: No
Weather conditions :  https://www.accuweather.com/en/in/kolar/188747/current-weather/188747
Traffic conditions :  https://roadnow.in/e/national-highway-75-NH75